<%- include('../layouts/admin/header.ejs') -%>

<section class="d-flex justify-content-center align-items-center p-4">
    <div class="col col-md-8 col-lg-6 col-xxl-5">

        <h1 class="text-center fw-bold mb-5 fs-2">Add Coupon</h1>

        <!-- Your complete coupon addition form here -->
        <form action="" method="post" onsubmit="return validateCoupon()">
            <div class="form-group">
                <label for="couponName">Coupon Name</label>
                <input type="text" class="form-control" id="couponName" name="couponName" placeholder="Name">
                <div id="couponNameError" style="display: none; color: red;"></div>
            </div>
            <div class="form-group">
                <label for="couponCode">Coupon Code</label>
                <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Code">
                <div id="couponCodeError" style="display: none; color: red;"></div>
            </div>
            <div class="form-group">
                <label for="discount">Discount Percntage</label>
                <input type="text" class="form-control" id="discount" name="discount" placeholder="Discount">
                <div id="disError" style="display: none; color: red;"></div>
            </div>
            <div class="form-group">
                <label for="amount">Criteria Amount</label>
                <input type="number" class="form-control" id="amount" name="criteriaAmount" placeholder="Criteria Amount">
                <div id="amountError" style="display: none; color: red;"></div>
            </div>
            <div class="form-group">
                <label for="expiryDate">Expiry Date</label>
                <input type="date" class="form-control" id="expiryDate" name="expiryDate" placeholder="Expiry Date">
                <div id="expiryDateError" style="display: none; color: red;"></div>
            </div>
            <div class="form-group">
                <label for="usersLimit">Users Limit</label>
                <input type="number" class="form-control" id="usersLimit" name="usersLimit" placeholder="Users Limit">
                <div id="usersLimitError" style="display: none; color: red;"></div>
            </div>
            <button id="submitBtn" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-inverse-danger" href="/admin/coupons">Cancel</a>
        </form>
    </div>
</section>

<%- include('../layouts/admin/footer.ejs') -%>
<script>
   function validateCoupon() {
    let couponName = document.getElementById("couponName").value.trim();
    let couponCode = document.getElementById("couponCode").value.trim();
    let discount = document.getElementById("discount").value.trim();
    let criteriaAmount = document.getElementById("amount").value.trim();
    let usersLimit = document.getElementById("usersLimit").value.trim();
    let expiryDate = document.getElementById("expiryDate").value.trim();

    let couponNameError = document.getElementById("couponNameError");
    let couponCodeError = document.getElementById("couponCodeError");
    let disError = document.getElementById("disError");
    let amountError = document.getElementById("amountError");
    let usersLimitError = document.getElementById("usersLimitError");
    let expiryDateErr = document.getElementById("expiryDateError")
    let isValid = true;

    // Check if fields are empty
    if (couponName === "") {
        couponNameError.innerText = "Coupon name is required";
        couponNameError.style.display = "block";
        setTimeout(() => {
            couponNameError.style.display = "none";
        }, 5000)
        isValid = false;
    } 
    if (couponCode === "") {
        couponCodeError.innerText = "Coupon code is required";
        couponCodeError.style.display = "block";
        setTimeout(() => {
            couponCodeError.style.display = "none";
        }, 5000)
        isValid = false;
    }     else if ( isNaN(couponCode) ||   couponCode < 1  ) {
        couponCodeError.innerText = "Coupon code must be a postive number";
        couponCodeError.style.display = "block";
        setTimeout(() => {
            couponCodeError.style.display = "none";
        }, 5000)
        isValid = false;
    }
    if (discount === "") {
        disError.innerText = "Discount code is required";
        disError.style.display = "block";
        setTimeout(() => {
            disError.style.display = "none";
        }, 5000)
        isValid = false;
    } else if ( isNaN(discount) ||  discount < 1  ) {
        disError.innerText = "Discount percntage must be a postive value";
        disError.style.display = "block";
        setTimeout(() => {
            disError.style.display = "none";
        }, 5000)
        isValid = false;
    }
    if (criteriaAmount === "") {
        amountError.innerText = "Crieteria amount is required";
        amountError.style.display = "block";
        setTimeout(() => {
            amountError.style.display = "none";
        }, 5000)
        isValid = false;
    } else if ( isNaN(criteriaAmount) ||  criteriaAmount < 0 ) {
        amountError.innerText = "Crieteria amount must be a postive value";
        amountError.style.display = "block";
        setTimeout(() => {
            amountError.style.display = "none";
        }, 5000)
        isValid = false;
    }
    if (usersLimit === "") {
        usersLimitError.innerText = "Users limit is required";
        usersLimitError.style.display = "block";
        setTimeout(() => {
            usersLimitError.style.display = "none";
        }, 5000)
        isValid = false;
    } 
    else if ( isNaN(usersLimit) ||  usersLimit < 0  ) {
        usersLimitError.innerText = "Users  list must be a postive value";
        usersLimitError.style.display = "block";
        setTimeout(() => {
            usersLimitError.style.display = "none";
        }, 5000)
        isValid = false;
    }
    if (expiryDate === "") {
        expiryDateErr.innerText = "Expiry date is required";
        expiryDateErr.style.display = "block";
        setTimeout(() => {
            expiryDateError.style.display = "none";
        }, 5000)
        isValid = false;
    }



    return isValid;
}
 function setMinDate() {
        var currentDate = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format
        document.getElementById('expiryDate').min = currentDate;
    }
    window.onload = setMinDate;
</script>
