
 

  <!-- Main CSS -->
  <link rel="stylesheet" href="/static/css/theme.bundle.css" />
<style>
 


.otpcard{
    margin-top: -7rem;
    margin-bottom: -4rem;
}
.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative;
  }
  
  .container {
    height: 100vh;
  }

  
  .mobile-text {
    color: #989696b8;
    font-size: 15px;
  }
  
  .form-control {
    margin-right: 12px;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  .time {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
</style>
<div class="d-flex justify-content-center align-items-center container otpcard">
    <div class="card py-5 px-3"> <% if (locals.message) { %>
      <div class="alert alert-danger d-flex align-items-center" role="alert" id="existAlert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 " viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div >
              <strong>Hey !</strong>
            <%= message %>
            
          </div>
        </div>
        
      
  <% } %>
        <form id="verificationForm" onsubmit="return validate()" method="post" action="">
          <% if(locals.email) { %>
          <input type="hidden" name="email" value="<%= email %>">
          <% } %>
            <h5 class="m-0">E-mail verification</h5>
            <span class="mobile-text">Enter the code we just sent to your Email <b class="text-danger"> <%= locals.email %> </b></span>
            <div class="d-flex flex-row mt-5">
                <input type="text" class="form-control" id="digit1" name="digit1" autofocus required>
                <input type="text" class="form-control" id="digit2" name="digit2" required>
                <input type="text" class="form-control" id="digit3" name="digit3" required>
                <input type="text" class="form-control" id="digit4" name="digit4" required>
            </div>
            <button type="submit" class="btn btn-dark d-block w-100 my-4">Submit</button>
        </form>
        <span class="time text-center"></span>
        <div class="text-center ">
            <span class="d-block mobile-text">Don't receive the code?</span>
            <span class="font-weight-bold text-danger cursor"    ><a id="resend" onclick="resend()" >Resend</a></span>
          
        </div>
    </div>
</div>
<script src="/static/js/admin/form-validation-and-fetch.js"></script>
<%- include('../layouts/user/footer.ejs') -%>
