<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
     <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
     <!-- Template CSS -->
     <link href="/static/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="/node_modules/cropperjs/dist/cropper.min.css">
     


</head>
<body>
    
